@import "styles/vars.scss";

.btn {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #22305f;
  background-color: transparent;
  border-radius: 25px;
  color: inherit;
  text-align: center;

  &:disabled {
    opacity: 0.5;
    cursor: auto;
  }
}
.text {
  font-family: $secondFont;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  word-break: keep-all;
}
.icon + .text {
  margin-left: 8px;
}
