@import "styles/vars.scss";

.wrapper {
  display: inline-block;
  position: relative;

  font-family: $secondFont;
}
.header {
  position: relative;
  display: inline-block;
  padding: 10px 37px 8px 14px;

  font-family: $secondFont;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #22305f;
  border-radius: 25px;

  &::after {
    content: "";
    position: absolute;
    right: 14px;
    top: 50%;

    width: 10px;
    height: 9px;

    transform: translateY(-50%);
    background-image: url(../../../public/assets/icons/triangle-down.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.list {
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  z-index: 5;

  width: 150%;
  padding: 10px 20px;

  border: 2px solid #22305f;
  border-radius: 25px;
  background-color: #081945;
}
.list_item {
  display: block;
  margin: 7px 0;
  width: 100%;

  font-family: $secondFont;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  text-align: center;

  background-color: transparent;
}
