@import "styles/vars.scss";
@import "styles/base/mixins.scss";

.wrapper {
  position: relative;
  // padding: 50px 39px 30px 35px;
  @include adaptiveValue("padding-top", 50, 20, $containerWidth, 710);
  @include adaptiveValue("padding-right", 39, 30);
  @include adaptiveValue("padding-bottom", 30, 30, $containerWidth, 710);
  @include adaptiveValue("padding-left", 35, 20);
}
.settings {
  position: absolute;
  top: 34px;
  left: 50px;
}
.add_transaction {
  position: absolute;
  top: 34px;
  right: 30px;
}
.canvas {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  min-height: 270px;
}
.loader {
  min-height: 270px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.goals {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 330px;
  margin: 0 auto;
  padding: 16px 28px;

  border: 2px solid #22305f;
  border-radius: 31px;

  .coins {
    svg {
      width: 44px;
      height: 44px;
    }
  }
}
.text {
  padding: 0 30px;

  font-family: $secondFont;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
}
.btn {
  width: 25px;
  height: 26px;
  padding: 4px;
  line-height: 1;

  border: 2px solid #e6dd9c;
  border-radius: 11px;
  background-color: transparent;

  svg {
    width: 14px;
    height: 14px;
  }
}
@media (max-width: 710px) {
  .wrapper {
    @include adaptiveValue("padding-top", 50, 30, 710);
    @include adaptiveValue("padding-bottom", 30, 30, 710);
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 400px) {
  .add_transaction {
    top: 20px;
    right: 10px;
  }
}
