@import "styles/vars.scss";

.footer {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 99;

  background-color: #020e2c;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.nav {
  height: 100%;
}
.nav_list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
}
.nav_item {
  position: relative;
  flex: 1 1 25%;
  height: 100%;

  text-align: center;
}
.nav_link {
  display: inline-block;
  height: 100%;
  width: 100%;

  border-radius: 50%;

  .icon {
    position: relative;
    top: 12px;
    padding: 15px 20px 6px;

    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }

  &.active {
    .icon {
      top: 5px;
      background: #020e2c;
    }
  }
}
.actions {
  position: absolute;
  right: 10px;
  top: 0px;
  z-index: 10;

  min-width: 150px;
  padding: 20px 20px;

  text-align: center;

  border: 2px solid #22305f;
  border-radius: 25px;
  background-color: #081945;

  opacity: 0;
  visibility: hidden;
  transform: translateY(calc(-100% - 5px));
  transition: all 0.3s;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &_btn {
    display: flex;
    align-items: center;
    margin: 0 auto;

    font-family: $secondFont;
    color: #fff;
    background-color: transparent;

    span {
      display: inline-block;
      max-height: 24px;
    }

    span:first-child {
      margin-right: 10px;
    }
  }
}
@media (max-width: 710px) {
  .footer {
    display: block;
  }
}
