body {
  min-height: 100vh;
  background-color: #14224f;
  color: #ffffff;
}
#__next {
  // height: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.swipeable-list-item__content {
  background-color: transparent;
}
