// WIDTHS
$minWidth: 1280px;

// COLORS
$purple: #8a16ff;
$pink: #ff25c2;
$blue: #24dffe;

// FONTS
$mainFont: "Roboto", sans-serif;
$secondFont: "Montserrat", sans-serif;
$accentFont: "BebasNeue", monospace;
